<h1>Home</h1>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h2>View Artists or Albums?</h2>
<ul>
  <li><%= link_to 'Artists', artists_path %></li>
  <br />
  <li><%= link_to 'Albums', albums_path %></li>
</ul>
